.header__lang-link {
    text-decoration-line: underline;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: white;
    margin-left: 18px;
    transition-property: opacity;
    transition-duration: 1s; 
  }

  
  .header__lang-link:hover {
    opacity: 0.8; 
  }