@font-face {
    src: url(../fonts/Inter-Regular.otf) format('otf'),
         url(../fonts/Inter-Regular.ttf) format('truetype'),
         url(../fonts/Inter-Regular.woff) format('woff'),
         url(../fonts/Inter-Regular.woff2) format('woff2');
    font-family: 'Inter';
    font-weight: normal;
}

@font-face {
    src: url(../fonts/Inter-Bold.otf) format('otf'),
         url(../fonts/Inter-Bold.ttf) format('truetype'),
         url(../fonts/Inter-Bold.woff) format('woff'),
         url(../fonts/Inter-Bold.woff2) format('woff2');
    font-family: 'Inter';
    font-weight: bold;
}

.page { 
    font-family: 'Inter', Arial, sans-serif; 
    width: 90%; 
    max-width: 1439px;
    margin: 0 auto; 
    color: white;
    background-color: #2A2C2F;
  } 