.intro__text {
    margin: 0 0 33px;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
  }

  @media screen and (max-width: 768px) {
    .intro__text {
      margin: 0 0 34px;
      font-size: 16px;
      line-height: 163%;
    }
}