.cover {
    padding: 12px 48px 92px;
  }

  @media screen and (max-width: 1279px) {
    .cover {
        padding: 12px 0 92px;
    } 
}

@media screen and (max-width: 1023px) {
    .cover {
        padding: 17px 0 88px;
    }
}

@media screen and (max-width: 767px) {
    .cover {
      padding: 0 0 64px;
    }
}