.place__link {
    margin: 0;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration: underline;
    color: white;
    transition-property: opacity;
    transition-duration: 1s; 
  } 

  .place__link:hover { 
    opacity: .5; 
}

  @media screen and (max-width: 767px) {
    .place__link {
        margin: 0 16px 0;
        font-size: 18px;
        line-height: 22px;
      } 
    }