.cover__background {
    margin: 0;
    margin: 0;
    background-size: cover;
    opacity: 0.7;
    width: 100%;
    object-fit: contain;
    transition-property: opacity; 
    transition-duration: 1s; 
  } 
   
  .cover__background:hover { 
    opacity: .3; 
  }