.cover__background {
    position: relative;
    min-height: 740px;
    width: 100%;
    margin: 0;
    background: url(../../../images/cover__background.jpg);
    background-position: center;
    background-size: cover;
}




