.cover__title {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    margin: 0 0 32px;
  }

  @media screen and (max-width: 768px) {
    .cover__title {
      font-size: 32px;
      line-height: 35px;
      margin: 0 16px 16px;
    }
}