.place {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    gap: 48px 40px;
    margin: 0 0 80px;
  }

  @media screen and (max-width: 1280px) {
    .place {
        gap: 48px 32px;
    }
}

@media screen and (max-width: 1024px) {
    .place {
        gap: 48px 28px;
        margin: 0 0 73px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        display: grid;
        gap: 32px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, minmax(min-content, max-content));  
        margin: 0 0 50px;
      }
    }